.content {
    background-color: #222426 !important;
}
.btn-common-play-game-lg {
    background-color: #00bf5a !important;
}
.notif-row-right-button{
    background-color: #00bf5a !important; 
}
.container-main{
    background-color: #222426 !important;
}
.profile-header-content{
    background-color: #3a3a3a !important;
}
.rbx-tab-heading{
    background-color: #3a3a3a !important;
}
.profile-avatar-mask{
    background-color: #181818 !important;
}
.profile-avatar-left{
    background-color: #191919!important;
}
.profile-collections{
   background-color: #191919!important;
}
.slide-item-container-right{
    background-color: #202222!important;
}
.slide-item-container-left{
    background-color: #1a1a1a!important;
}
.section-content{
    background-color: #191919!important;
}
.catalog-header{
    background-color: #222426 !important;
}
.search-bar-placement-right{
    background-color: #222426 !important;
}
.topic-container{
    background-color: #222426 !important; 
}
.buy-robux{
    background-color: #00bf5a !important;
}
.cart-number-container{
    background-color: #00bf5a !important;
}
.container-footer{
    background-color: #222426 !important;
}
.game-main-content{
    background-color: #383b3c !important; 
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 40px !important;
}
.btr-game-main-container{
    background-color: #222426!important;
}
.stack-row{
    background-color: #3a3a3a !important;
}
.game-instances{
    background-color: #222426 !important; 
}
.create-server-banner{
    background-color: #222426 !important; 
}
.store{
    background-color: #222426 !important; 
}

.text{
    color:#7e7a7d;
}

.rbx-game-server-item .card-item{
    background-color: #3a3a3a !important; 
}

.rbx-body.dark-theme{
    background-color:#222426;
}

#navbar-search-input{
    background-color:#222222;
}

.navbar-fixed-top.rbx-header{
    background-color:#202020;
}

.rbx-scrollbar{
    background-color:#202020;
}

ul:has(li){
    background-color:#202020;
}

.rbx-game-server-join{
    background-color: #00bf5a !important;
}

.game-description{
    padding-top:10px;
}

.game-description::before {
    content: "Description \a \a";
    font-size: 24px; /* Makes the text bigger */
    color: white; /* Changes text color */
    font-weight: bold; /* Makes text bold */
    font-family:Builder Sans;
    
}

.favorite-follow-vote-share{
    background-color: #383b3c !important; 
}

.game-stat-container{
    background-color:#222426;
}

.btn.btn-more.btn-primary-md.btn-growth-md.ng-binding{
     background-color: #00bf5a !important;
}

.btn-growth-sm.btn-full-width{
     background-color: #00bf5a !important;
}

.btn-full-width.btn-control-xs.rbx-game-server-join.game-server-join-btn.btn-primary-md.btn-min-width{
      background-color: #4a4a4a !important; 
}

.badge-stats-container{
    background-color: #383b3c !important;
}
#store{
    background-color: #181818 !important;
}
.gear-passes-container{
     background-color: #181818 !important;
}

.collections-list{
    background-color: #191919!important;
}
