/* ^https:\/\/www\.roblox\.com\/users.*friends#!\/friends$ */
div:has(.container-header) {
    padding-bottom:10px;
}
.friends-subtitle {
    padding-bottom:20px;
    transform: translateY(15px);
    font-size:0px !important;
}
.friends-subtitle::before{
    content:"Friends";
    font-size:20px;
}

/* roblox.com*/
h2:has(.friends-count) {
    font-size:0px;
}
h2:has(.friends-count)::before{
    content:"Friends";
    font-size:20px;
}
.friends-filter-searchbar-input:placeholder-shown {
    opacity:0;
}

span[title="Connect"] {
    color: transparent;
}
span[title="Connect"]:before {
    content:"Friends" !important;
    font-size:16px;
    color:white;
}
#nav-friends :before{
    content:"";
}
a[href="/users/friends#!/friend-requests"] .friends-carousel-display-name{
    font-size:0px;
}
a[href="/users/friends#!/friend-requests"] .friends-carousel-display-name:before{
    content:"Add Friends";
    font-size:16px;
}
.friend-tile-button:has(a[href="/users/friends#!/friend-requests"]) {
    width:0px !important;
}

div:has(.icon-nav-friends):before{
    font-size:0px;
}
.friends-title{
    padding-top:20px;
    padding-Bottom:0px;
    font-size:0px !important;
}
.friends-title::before{
    content:"My Friends";
    font-size:32px;
}

/*.rbx-tab-heading[href="#!/friends"]:has(.text-lead){
    font-size:0px;
}*/
.friends-count {
    font-size:20px;
}
.content {
    background-color: #222426 !important;
}
#friend-button{
	border-radius: 2px !important;
}
.web-blox-css-tss-1283320-Button-textContainer{
    /*font-style: unset !important;*/
    font-weight: normal !important;
}
.btn-common-play-game-lg{
    background-color: #00bf5a !important;
}
.notif-row-right-button{
    background-color: #00bf5a !important; 
}
.container-main{
    background-color: #222426 !important;
}
.profile-header-content, .profile-stats-container{
    background-color: #3a3a3a !important;
}
.rbx-tab-heading{
    background-color: #3a3a3a !important;
}
.profile-avatar-mask, .menu-option, .item-cards{
    background-color: #181818 !important;
}
.rbx-left-col {
    background-color: #202020!important;
}
.profile-avatar-left{
    background-color: #191919!important;
}
.slide-item-container-right{
    background-color: #202222!important;
}
.slide-item-container-left{
    background-color: #1a1a1a!important;
}
.section-content:has(.badge-list), .badge-list:has(.asset-item), .section-content:has(.hlist), .hlist:has(.game-card), .hlist:has(.badge-item) .profile-collections, .section-content .collections-list, .hlist, .list-item, .badge-item{
    background-color: #222426 !important;
}
.section-contect:has(.profile-current-wearing-avatar){
    opacity: 0%;
}
a .btn-growth-md .btn-more{
    background-color: #222426 !important;
}
.table.summary{
    background-color: #222426 !important;
}

.catalog-header{
    background-color: #222426 !important;
}
.search-bar-placement-right {
    background-color: #222426 !important;
}
.topic-container{
    background-color: #222426 !important; 
}
.buy-robux{
    background-color: #00bf5a !important;
}
.cart-number-container{
    background-color: #00bf5a !important;
}
.container-footer{
    background-color: #222426 !important;
}
.game-main-content{
    background-color: #383b3c !important; 
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 40px !important;
}
.btr-game-main-container{
    background-color: #222426!important;
}
.stack-row{
    background-color: #3a3a3a !important;
}
.game-instances{
    background-color: #222426 !important; 
}
.create-server-banner{
    background-color: #222426 !important; 
}
.store{
    background-color: #222426 !important; 
}

.text{
    color:#7e7a7d;
}

.refresh-link-icon{
    background-color: #222426 !important;
}

.rbx-running-games-load-more{
    background-color: #3a3a3a !important;
}

.card-item{
    background-color: #3a3a3a !important; 
}

.rbx-game-server-item-container{
    background-color: #222426 !important;
}

.rbx-body.dark-theme{
    background-color:#222426;
}

#navbar-search-input{
    background-color:#222222;
}

.navbar-fixed-top.rbx-header{
    background-color:#202020;
}

.rbx-scrollbar{
    background-color:#202020;
}

ul:has(li){
    background-color:#202020;
}

.rbx-game-server-join, .web-blox-css-tss-lo77dr-Button-contained.MuiButton-containedPrimary{
    background-color: #00bf5a !important;
}

.game-description{
    padding-top:10px;
}

.game-description::before {
    content: "Description \a \a";
    font-size: 24px; /* Makes the text bigger */
    color: white; /* Changes text color */
    font-weight: bold; /* Makes text bold */
    font-family:Builder Sans;
    
}

.favorite-follow-vote-share{
    background-color: #383b3c !important; 
}

.game-stat-container{
    background-color:#222426;
}

.btn.btn-more.btn-primary-md.btn-growth-md.ng-binding{
     background-color: #00bf5a !important;
}

.btn-growth-sm.btn-full-width{
     background-color: #00bf5a !important;
}

.btn-full-width.btn-control-xs.rbx-game-server-join.game-server-join-btn.btn-primary-md.btn-min-width{
      background-color: #4a4a4a !important; 
}

.badge-stats-container{
    background-color: #383b3c !important;
}
#store{
    background-color: #181818 !important;
}
.gear-passes-container{
     background-color: #181818 !important;
}

.collections-list{
    background-color: #191919!important;
}

.wide-event-play-button, .profile-join-game{
    background-color: #00bf5a !important;
}
.hlist, .games, .game-cards, .game-tile-list, .games-page-carousel{
    background-color: #181818 !important;
}
